{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Create A New Project</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.7/css/mdb.css">
  <link href=" {% static "css/bootstrap/css/bootstrap.min.css" %} " rel="stylesheet">
  <link href=" {% static "common.css" %} " rel="stylesheet">
  <link rel="stylesheet" href=" {% static "css/font-awesome/css/font-awesome.min.css" %} ">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">


</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="border-right bg-custom-1" id="sidebar-wrapper">
        <div class="sidebar-heading"><img width="240px" class="header-image" src=" {% static "img/logo-2.jpg" %} " alt="logo"></div>
        <div class="list-group list-group-flush">
            <a href="{% url 'home' %}" class="list-group-item list-group-item-action bg-custom-1"><i class="fa fa-table"></i> Dashboard</a>
            <a href="" class="list-group-item list-group-item-action bg-custom-1"><i class="fa fa-bell"></i> Notifications</a>
            <a href="{% url 'create_project' %}" class="list-group-item list-group-item-action bg-custom-1"><i class="fa fa-plus"></i> Create Project</a>
            <a href="{% url 'project' %}" class="list-group-item list-group-item-action bg-custom-1"><i class="fa fa-eye"></i> Existing Projects</a>
            <a href="{% url 'leaderBoard' %}" class="list-group-item list-group-item-action bg-custom-1"><i class="fa fa-clipboard"></i> View Leaderboard</a>
            <a href="" class="list-group-item list-group-item-action bg-custom-1"><i class="fa fa-gear"></i> Manage teams</a>
          </div>
      <div class="sidebar-logout">
        <a href="{% url 'logout' %}" class="style-button-1">Log Out</a>
      </div>
    </div>

    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <button class="btn" id="menu-toggle">menu</button>
          <form action="{% url 'search' %}" method="GET">
          <div class="form-group search-place">
              <input type="search" class="form-control searchbox" placeholder="Search projects" name="query">
            </div>
          </form>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="#"><i class="fa fa-user-circle"></i>{{user}}<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"></a>
              </li>
            </ul>
          </div>

      </nav>
    {% block content %}

    {% endblock %}
  <script src=" {% static "css/jquery/jquery.min.js" %} "></script>
  <script src=" {% static "css/bootstrap/js/bootstrap.min.js" %} "></script>

  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
